.task {
    max-width: 46rem;
    margin: 1.5rem auto 0 auto;
    background: var(--gray-500);
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 4.5rem;
    border-radius: 8px;
    border: 1px solid var(--gray-400);
}

.task + .task {
    margin-top: 0.75rem;
}

.selectedForm {
    border-color: var(--gray-500);
}

.taskSelect {
    margin: 1.1875rem 0.9375rem auto 1.1875rem;
    padding: 0.4375rem;
    border-radius: 50%;
    border: 2px solid var(--blue);
    background: transparent;
    cursor: pointer;
}

.taskSelect svg {
    width: 0.875rem;
    height: 0.875rem;
}

.selected {
    padding: 0;
    line-height: 0;
    color: var(--gray-100);
    background-color: var(--purpleDark);
    border-color: var(--purpleDark);
}

.taskSelect:hover {
    background-color: var(--blueDarkTransp);
    border-color: var(--blueDark);
}

.selected:hover {
    background-color: var(--purple);
    border-color: var(--purple);
}

.taskText {
    width: calc(100% - 6.4375rem);
    max-width: 100%;
    margin: 1rem 0;
    font-size: 0.875rem;
    color: var(--gray-100);
    font-weight: normal;
    overflow-wrap: break-word;
}

.selectedText {
    color: var(--gray-300);
    text-decoration: line-through;
}

.taskTrash {
    padding: 0.3125rem 0.25rem;
    margin: 1rem 1rem auto 0.75rem;
    color: var(--gray-300);
    line-height: 0;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: color 0.1s, background-color 0.1s;
    background-color: transparent;
}

.taskTrash:hover {
    background: var(--gray-400);
    color: var(--danger);
}